/************************************************************************************
COMMENTS
*************************************************************************************/
.commentwrap {
	margin: 10px 0 20px;
	position: relative;
	clear: both;
}

/* comment pagenav */
.pagenav {
	margin: 10px 0;
	border: none;
	@include box-shadow(none);
}

.top {
	margin: 0;
	position: absolute;
	top: 10px;
	right: 0;
}

/* comment title */
.comment-title {
	@extend %comment-titles;
}

.reply-title {
	@extend %comment-titles;
}

/* commentlist */

.commentlist {
	margin: 0 0 30px;
	padding: 5px 0 0;
	border-top: solid 1px #ddd;

	li {
		margin: 0;
		padding: 15px 0 0;
		list-style: none;
		position: relative;
	}

	cite {
		font-style: normal;
		font-size: 16px;

		a {
			text-decoration: none;
		}
	}

	ul, ol {
		margin: 0 0 0 7%;
		padding: 0;
	}
}

.comment-author {
	margin: 2px 0 5px;
	padding: 0;
}

.avatar {
	float: left;
	margin: 0 15px 0 0;
}

/* reply link */
.reply {
	position: absolute;
	right: 0;
	top: 8px;
}

.comment-reply-link {
	font-size: 11px;
	text-transform: uppercase;
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

.comment-author cite {
	background: image-url('icon-author-comment.png') no-repeat 0 2px;
	padding-left: 18px;
}

.comment-time {
	font-size: 75%;
	text-transform: uppercase;
}

.commententry {
	border-bottom: solid 1px #ddd;
	position: relative;
	min-height: 40px;
	overflow: hidden;
	padding-bottom: 5px;
	word-wrap: break-word;
	@include box-sizing(border-box);
}

/* 
COMMENT FORM
================================================ */
.respond {
	margin: 0;
	padding: 10px 0 0;
	position: relative;
	clear: both;
}	

.cancel-comment-reply-link {
	position: absolute;
	top: 20px;
	right: 0;
	font-size: 12px;
	line-height: 100%;
	text-decoration: none;
	padding: 5px 10px;
	display: block;
	color: #fff;
	background: #F30;

	&:hover {
		background: #333;
	}
}

.commentform {
	margin: 15px 0 0;

	input[type=text] {
		width: 206px;
		margin-right: 5px;
		@include box-sizing(border-box);
	}

	label {
		font-weight: bold;

		small {
			font-weight: normal;
		}
	}

	textarea {
		height: 140px;
		@include box-sizing(border-box);
	}
}

.submit {
	padding: 7px 20px;
}