/* =Forms
-----------------------------------------------------------------------------*/

/* Removes fieldset borders. even on Opera 7 */
fieldset {
  border: 1px solid transparent;
}

/* form input */
input, textarea, select, input[type=search], button {
	font-size: 100%;
	font-family: inherit;
}

input[type=text], input[type=password], input[type=email], input[type=tel], textarea, input[type=search] {
	padding: 6px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-appearance: none;
}

input[type=text], input[type=email], input[type=tel], input[type=search] {
	width: 240px;
	max-width: 90%;
}

/* text area */
textarea {
	line-height: 150%;
	width: 94%;
}

/* form input:focus */
textarea:focus, input[type=password]:focus, input[type=text]:focus, input[type=search]:focus {
	outline: none;
}

/* form button */
input[type=reset], input[type=submit], button {
	border: none;
	padding: 7px 20px;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}