/* =General
-----------------------------------------------------------------------------*/
body {
  	padding: 0;
	line-height: 1.4em;
	font-size: 16px;
}

.wrapper {
	margin: auto;
}	

/************************************************************************************
CLEAR & ALIGNMENT
*************************************************************************************/
.clear {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

.textleft {
	text-align: left;
}

.textright {
	text-align: right;
}

.textcenter {
	text-align: center;
}

/* clearfix */
.clearfix:after, .widget li:after, .body:after, .footer:after, footer:after, .pagenav:after, .main-nav:after, .menu:after, .gallery:after, .content:after
{ visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix, .widget li, .body, .footer, footer, .pagenav, .main-nav, .menu, .gallery, .content
{ display: inline-block; }
/* clearfix for ie7 */
.clearfix, .widget li, .body, .footer, footer, .pagenav, .main-nav, .menu, .gallery, .content
{ display: block; zoom: 1; }	

/* =Typography
-----------------------------------------------------------------------------*/

.bold {
	font-weight: bold;
}	

.italic {
	font-style: italic;
}	

.underline {
	text-decoration: underline;
}	

.uppercase {
	text-transform: uppercase;
}

.center {
	text-align: center;
}

p {
	font-size: (16em / 16);
	margin: .5em 1em .5em 1em;
	padding: 0;
	line-height: 1.4em;
}

small {
	font-size: (10em / 16);
}

blockquote {
	font-style: italic;
	padding: 8px 30px 15px;
	line-height: 1em;
	font-size: (16em / 16); /* 16px / 16px */
}

/* =Headings
-----------------------------------------------------------------------------*/

h1 {
	@extend %heading;
	font-size: (32em / 16);
	text-align: center;
}

h2 {
	@extend %heading;
	font-size: (28em / 16);
	text-align: center;
}

h3 {
	@extend %heading;
	font-size: (24em / 16);
}

h4 {
	@extend %heading;
	font-size: (16em / 16);
}

h5 {
	@extend %heading;
	font-size: (14em / 16);
}

h6 {
	@extend %heading;
	font-size: (12em / 16); 
}

/* =Lists
-----------------------------------------------------------------------------*/
ol {
	list-style: decimal;
	
	li {
		@extend %lists;
	}
}

ul li {
	@extend %lists;
	list-style: disc;
}

dd {
	@extend %lists;
	list-style: disc;		
}

dt {
	@extend %lists;
	list-style: disc;
	font-weight: bold;
}

/* =Links
-----------------------------------------------------------------------------*/
a {
	text-decoration: underline;
}

/* =Tables
-----------------------------------------------------------------------------*/

table { 
  border-spacing: 0;
	border-collapse: collapse;
}

td {
  text-align: left;
	font-weight: normal;
}