/* =Main Content
-----------------------------------------------------------------------------*/
article {
	overflow: hidden;
	@include box-sizing(border-box);

	img {
		margin-top: 20px;
		margin-bottom: 0;
		border: 1px solid #ccc;
	}
}

.page-title {
	margin: 0 0 15px;
	padding: 0;
	font-size: (24em / 16);
	line-height: 110%;
	text-align: center;
}

.post {
	margin-bottom: 50px;
}

.post-date {
	font-size: 1em;
}

.post-content {
	min-width: 120px;
}

.post-title {
	font-size: (26em / 16);
	margin: 0 0 5px;
	padding: 0;
	text-align: center;
}

/* post image */
.post-image {
	margin: 0 0 5px;
	@include box-sizing(border-box);

	.left {
		float: left;
		margin: 10px 15px 10px 10px;
	}

	.right {
		float: right;
		margin: 10px 10px 10px 15px;
	}	
}

/* post meta */
.post-meta {
	margin: 0 0 7px;
	font-size: 1em;
	text-transform: capitalize;

	.post-author {
		background: image-url('post-author.png') no-repeat 0 2px;
		padding: 2px 0 2px 16px;
		margin-right: 7px;
	}

	.post-category {
		background: image-url('post-category.png') no-repeat 0 2px;
		padding: 2px 0 2px 16px;
		margin-right: 7px;
	}

	.post-tag {
		background: image-url('post-tag.png') no-repeat 0 3px;
		padding: 2px 0 2px 16px;
		margin-right: 7px;
	}

	.post-comment a {
		background: image-url('post-comment.png') no-repeat 0 3px;
		padding: 2px 0 2px 16px;
		color: #666;
	}
}

p.wp-caption-text {
	margin-bottom: 20px;	
}

.wp-caption alignleft {
	float: left;
	margin: 10px 15px 10px 10px;
}	

/************************************************************************************
WORDPRESS POST FORMATTING
*************************************************************************************/

.alignnone {
	@extend %imgalign;
}

.alignleft {
	@extend %imgalign;
	float: left;
	margin-right: 30px;
}

.alignright {
	@extend %imgalign;
	float: right;
	margin-left: 30px;
}

.aligncenter {
	@extend %imgalign;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption {
	text-align: center;
	margin-bottom: 15px;
	max-width: 100%;
	@include box-sizing(border-box);
}

.wp-caption-text {
	font-style: italic;
	font-size: (12em / 16);
	line-height: 120%;
	margin: 6px 0;
}

/************************************************************************************
PAGE NAVIGATION
*************************************************************************************/
.pagenav {
	clear: both;
	padding-bottom: 20px;
	text-align: right;

	a, span {
		line-height: 100%;
		padding: 6px 0 0;
		vertical-align: middle;
		display: inline-block;
		zoom: 1;
		min-width: 24px;
		min-height: 18px;
		text-align: center;
		@include border-radius(10em);
		@include box-sizing(border-box);
	}

	a {
		text-decoration: none;
	}

	.current {
		text-decoration: none;
	}
}

/************************************************************************************
POST NAVIGATION
*************************************************************************************/

.post-nav {
	margin: 0 0 30px;
	padding: 15px 0;
	clear: both;

	span {
		width: 47%;
		position: relative;
		@include box-sizing(border-box);

		.arrow {
			display: block;
			float: left;
			width: 32px;
			height: 28px;
			padding: 6px 0 0;
			text-align: center;
			margin: -8px 10px 17px 0;
			@include border-radius(10em);
			@include box-sizing(border-box);
		}
	}

	a {
		text-decoration: none;
		display: block;
		font-family: Verdana, Arial, sans-serif; //san-serif

		&:hover {
			text-decoration: none;
		}
	}

	.prev {
		float: left;
	}

	.next {
		float: right;
		text-align: right;

		span {
			float: right;
			margin-left: 10px;
			margin-right: 0;

			&:hover span {
				background: #000;
			}
		}
	}
}
