/* =Main Content
-----------------------------------------------------------------------------*/

article {
	overflow: hidden;
	font-size: 16px;

	h1, h2 {
		margin: .5em 1em .5em 1em;
		text-align: center;
	}

	h1 {
		font-size: 1.6em;
	}

	h2 {
		font-size: 1.4em;
	}

	h3 {
		margin: .5em 1em .5em .5em;
		font-size: 1.2em;
	}

	p {
		font-size: 1em;
		margin: .5em 1em .5em 1em;
	}

	ul li, dd, dt {
		margin: .75em 0 .75em 2.5em;
		line-height: 1.4em;
		font-size: 16px;
		list-style: disc;
	}

	ol li {
		margin: .75em 0 .75em 2.5em;
		line-height: 1.4em;
		font-size: 16px;
	}

	dt {
		font-weight: bold;
	}

	img {
		margin-top: 20px;
		margin-bottom: 0;
		border: 1px solid #ccc;
	}
}

.page-title {
	margin: 0 0 15px;
	padding: 0;
	font-size: 24px;
	line-height: 110%;
	text-align: center;
}

.post {
	margin-bottom: 50px;
}

.post-date {
	font-size: 16px;
}

.post-content {
	min-width: 120px;
}

.post-title {
	font-size: 26px;
	margin: 0 0 5px;
	padding: 0;
	text-align: center;
}

/* post image */
.post-image {
	margin: 0 0 5px;

	.left {
		float: left;
		margin: 10px 15px 10px 10px;
	}

	.right {
		float: right;
		margin: 10px 10px 10px 15px;
	}	
}

/* post meta */
.post-meta {
	margin: 0 0 7px;
	font-size: 16px;
	text-transform: capitalize;

	.post-author {
		background: image-url('post-author.png') no-repeat 0 2px;
		padding: 2px 0 2px 16px;
		margin-right: 7px;
	}

	.post-category {
		background: image-url('post-category.png') no-repeat 0 2px;
		padding: 2px 0 2px 16px;
		margin-right: 7px;
	}

	.post-tag {
		background: image-url('post-tag.png') no-repeat 0 3px;
		padding: 2px 0 2px 16px;
		margin-right: 7px;
	}

	.post-comment a {
		background: image-url('post-comment.png') no-repeat 0 3px;
		padding: 2px 0 2px 16px;
		color: #666;
	}
}

#category {
	font-size: 36px;
	text-align: center;
	margin: 10px 0 10px 0;
}

p.wp-caption-text {
	margin-bottom: 20px;	
}

wp-caption alignleft {
	float: left;
	margin: 10px 15px 10px 10px;
}	

/************************************************************************************
WORDPRESS POST FORMATTING
*************************************************************************************/
img.alignleft, img.aligncenter, img.alignright, img.alignnone {
	margin-bottom: 15px;
}

.alignleft {
	float: left;
	margin-right: 30px;
}

.alignright {
	float: right;
	margin-left: 30px;
}

.aligncenter {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption {
	text-align: center;
	margin-bottom: 15px;
	max-width: 100%;
}

.wp-caption-text {
	font-style: italic;
	font-size: 12px;
	line-height: 120%;
	margin: 6px 0;
}

/************************************************************************************
PAGE NAVIGATION
*************************************************************************************/
.pagenav {
	clear: both;
	padding-bottom: 20px;
	text-align: right;

	a, span {
		line-height: 100%;
		padding: 6px 0 0;
		margin: 0 2px;
		vertical-align: middle;
		display: inline-block;
		zoom:1;
		*display:inline;
		min-width: 24px;
		min-height: 18px;
		text-align: center;
		-webkit-border-radius: 10em;
		-moz-border-radius: 10em;
		border-radius: 10em;
	}

	a {
		text-decoration: none;
	}

	.current {
		text-decoration: none;
	}
}

/************************************************************************************
POST NAVIGATION
*************************************************************************************/
.post-nav {
	margin: 0 0 30px;
	padding: 15px 0;
	clear: both;

	span {
		width: 47%;
		position: relative;

		span.arrow {
			display: block;
			width: auto;
			float: left;
			width: 32px;
			height: 28px;
			padding: 6px 0 0;
			text-align: center;
			margin: -8px 10px 17px 0;
			border-radius: 10em;
		}
	}

	a {
		text-decoration: none;
		display: block;
		font-family: Verdana, Arial, sans-serif; //san-serif

		&:hover {
			text-decoration: none;
		}
	}

	.prev {
		float: left;
	}

	.next {
		float: right;
		text-align: right;

		span {
			float: right;
			margin-left: 10px;
			margin-right: 0;

			&:hover span {
				background: #000;
			}
		}
	}
}
