// Custom Variables

$aqua: $elr-blue;
$main-text: #111;
$link-color: $elr-blue;
$info-color: $elr-blue;

// background images

// font faces

$script-font: cursive;
$cursive-font: cursive;
$tall-font: Arial;
