/*-----------------------------------------------------------------------------
	Custom Variables
-----------------------------------------------------------------------------*/

$aqua: #00C2FF;
$main-text: #111;
$link-color: #111;

// background images 

// font faces

$script-font: cursive;
$cursive-font: cursive;
$tall-font: Arial;