/*-----------------------------------------------------------------------------
	Custom Variables
-----------------------------------------------------------------------------*/

$aqua: #00C2FF;
$link-color: $aqua;

// background images 

// font faces

$script-font: cursive;
$cursive-font: cursive;
$tall-font: Arial;