// Front Announcements

.announcement {
    margin: 10px auto;
    width: 60%;

    h1 {
        @include elr-em-font(28px);
        margin: 0;
        padding: 0 0 0 10px;
        text-align: left;
        float: left;
    }

    p,
    a {
        @include elr-em-font(12px);
        margin: 0;
        padding: 0;
        color: $text-color;
    }

    .header {
        @include elr-clearfix;

        i {
            @include elr-em-font(30px);
            display: block;
            position: relative;
            float: left;
            padding: 5px 0;
        }
    }
}

.information-alert {
    @include elr-context-box('info', 3px);
}

.danger-alert {
    @include elr-context-box('danger', 3px);
}

.warning-alert {
    @include elr-context-box('warning', 3px);
}

.success-alert {
    @include elr-context-box('success', 3px);
}

.muted-alert {
    @include elr-context-box('muted', 3px);
}

.news-alert {
    @include elr-context-box('custom', 3px, darken($elr-blue, 10%));
}
