// Comments

.comments {
    margin: 0;
    padding: 20px 0;
    color: $main-text;
    width: 100%;

    label {
        @include elr-em-font(14px);
        font-weight: bold;
    }

    [type=text],
    [type=password],
    [type=email],
    [type=tel],
    [type=search] {
        width: 80%;
    }

    textarea {
        width: 100%;
    }
}

.commentlist {
    padding: 0;
    margin: 0;
}

.comment-author {
    padding: 0;
    margin: 0;
    width: 100%;

    .cite {
        float: left;
        margin-left: 20px;
        display: block;
    }
}

.avatar {
    @include elr-square(60px);
    float: left;
    margin: 0 15px;
}
