/************************************************************************************
COMMENTS
*************************************************************************************/

.comments {
	margin: 0;
	padding: 1% 0 1% 0;
	color: $main-text;
	width: 100%;
	box-sizing: border-box;

	label {
		font-weight: bold;
		@include drm-em-font(14);
	}

	input[type=text], input[type=password], input[type=email], input[type=tel], input[type=search] {
		width: 80%;
	}

	textarea {
		width: 100%;
	}

	.commentlist {
		@extend %drm-reset-box;
		@include drm-unstyled-list();
	}

	.comment-author {
        @extend %drm-reset-box;
        width: 100%;

		.avatar {
	        float: left;
	        margin: 0 15px 0 0;
	        @include drm-square(60px);
		}

		.cite {
			float: left;
			margin-left: 20px;
			display: block;
		}
	}
}