/*-----------------------------------------------------------------------------
    Contact Template
-----------------------------------------------------------------------------*/

.contact-template {
    @extend %drm-container;
    overflow: hidden;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;

    h1 {
        text-align: center;
    }

    h2 {
        margin-bottom: 10px;
        text-align: left;
        @include drm-em-font(20);

        @include drm-breakpoint(saturn) {
            text-align: center;
            @include drm-em-font(20);
        }
    }
}

.contact-info-holder {
    word-wrap: break-word;
    margin-top: 40px;

    @include drm-breakpoint(saturn) {
        float: none;
        width: 100%;
    }

    h2 {
        margin: 0;
        padding-top: 20px;
        padding-bottom: 5px;
        text-align: center;
    }

    a {
        color: $text-color;
    }

    .organization-contact-info {
        text-align: center;

        a {
            text-decoration: none;
        }
    }

    .address {
        @include drm-unstyled-list(center, no);
    }
}

.google-map-holder {
    width: 90%;
    height: 450px;
    overflow: hidden;
    border: 1px solid $light-grey;
    margin: 30px 5%;
    box-sizing: border-box;

    iframe {
        width: 100%;
        height: 100%;
    }
}

.contact-content {
    text-align: center;
    margin-bottom: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.contact-form {
    margin-top: 40px;

    h2 {
        padding-left: 10px;
    }

    @include drm-breakpoint(saturn) {
        float: none;
        width: 100%;
    }

    form {
        @include drm-tabular-form();
    }
}