/*-----------------------------------------------------------------------------
    Custom Post Styles
-----------------------------------------------------------------------------*/

.num-results-nav, .taxonomy-nav {
    h4 {
        font-weight: bold;
        padding-bottom: 0;
        @include drm-em-font(12);
    }

    ul {
        @include drm-unstyled-list(left, no);
        padding-top: 0;

        li {
            display: inline-block;
        }

        a {
            display: block;   
            background-color: $main-text;
            color: white;
            border-radius: 5px;
            margin-right: 5px;
            text-decoration: none;
            padding: 5px 10px;
            @include drm-em-font(12);

            &:hover {
                text-decoration: none;
                background-color: $aqua;
            }

            &.active {
                background-color: $aqua;
            }
        }
    }
}

.cpt-grid-content {
    padding-top: 40px;
    width: 100%;
    @include drm-clearfix();

    .post-count {
        clear: both;
    }
}

.cpt-grid-box {
    @include drm-feature-box(4);

    h1 {
        font-weight: bold;
        @include drm-em-font(16, 14);
    }

    ul {
        @include drm-unstyled-list(center, no);
        @include drm-em-font(14);
    }

    .cpt-grid-image-holder {
        text-align: center;

        img {
            box-sizing: border-box;
            border: 1px solid $light-grey;            
        }
    }
}

.person-info {
    @include drm-unstyled-list(center, no);
}

.address, .cpt-info-center {
    @include drm-unstyled-list(center, no);
}

.post-info, .cpt-info {
    @include drm-unstyled-list(left, no);

    .cpt-button-link {
        @include drm-button-solid($text-color, white, 100%, center, 3px, $text-color);
    }
}

.cpt-info, .cpt-info-center, .address {
    @include drm-em-font(14);
}

.event-image-holder, .location-image-holder {
    width: 400px;
    margin: auto;

    img {
        border: 1px solid $text-color;
    }
}

.event-map-holder, .location-map-holder {
    width: 100%;
    max-width: 1000px;
    margin: 10px auto;
    height: 450px;
    overflow: hidden;
    border: 1px solid $text-color;
}

.event {
    .post-info li {
        text-align: center;
    }
}

.location {
    .post-info, .address, .business-hours {
        @include drm-unstyled-list(center, no);
    }
}

.faq-accordion {
    width: 100%;
    box-sizing: border-box;

    article {
        margin: 0 0 10px 0;
        padding: 0;
    }

    .drm-accordion-label {
        border-radius: 3px;
        background-color: white;
        width: 100%;
        box-sizing: border-box;
        padding: 5px 10px 5px 10px;
        margin-bottom: 10px;
        border: 1px solid $lighter-grey;
        cursor: pointer;
    }

    .drm-accordion-content {
        border-radius: 3px;
        background-color: white;
        width: 100%;
        box-sizing: border-box;
        padding: 5px 10px 5px 10px;
        border: 1px solid $lighter-grey;
    }

    .faq-info {
        @include drm-unstyled-list(left, no);
    }
}