// Custom Post Styles

.num-results-nav,
.taxonomy-nav {
    h4 {
        @include elr-em-font(16px);
        font-weight: bold;
        padding-bottom: 0;
    }
}

.filter-heading {
    @include elr-em-font(18px);
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.cpt-grid-content {
    @include elr-clearfix();
    padding-top: 40px;
    width: 100%;

    .post-count {
        clear: both;
    }
}

.num-results-menu,
.taxonomy-menu {
    padding: 10px 0;

    li {
        display: inline-block;
    }

    a {
        @include elr-em-font(12px);
        display: block;
        background-color: $main-text;
        color: $white;
        border-radius: 5px;
        margin-right: 5px;
        text-decoration: none;
        padding: 5px 10px;

        &:hover {
            text-decoration: none;
            background-color: $aqua;
        }

        &.active {
            background-color: $aqua;
        }
    }
}

.cpt-grid-box {
    padding-top: 40px;
    padding-bottom: 40px;

    &:nth-child(4n-3) {
        clear: left;
    }

    h1 {
        @include elr-em-font(14px);
        width: 90%;
        margin: auto;
        font-weight: bold;
    }

    ul {
        @include elr-em-font(14px);
        width: 90%;
        margin: auto;
    }
}

.cpt-grid-image-holder {
    text-align: center;
    height: 220px;
    width: 90%;
    margin: auto;
}

.cpt-meta-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
