// Footer

.main-footer {
    @include elr-clearfix;
    background-color: $main-text;
    color: $white;
}

.footer-menu {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;

    li {
        @include elr-em-font(14px);
        list-style: none;
    }

    a {
        color: $white;
        text-decoration: none;
    }
}

.copyright {
    display: block;
    text-align: center;
    color: $white;
    background-color: $main-text;
    padding: 0 50px 20px;

    a {
        color: $white;
    }
}
