/*-----------------------------------------------------------------------------
	Footer
-----------------------------------------------------------------------------*/

footer {
	width: 100%;
	padding: 2% 5% 5% 5%;
	background-color: $dark-grey;
	color: white;
	@include drm-clearfix();
	@include box-sizing(border-box);

	.widget {
		@include drm-feature-box(5);

		ul {
			padding-top: 10px;
			@include drm-unstyled-list(center);		
		}

		.widget-title {
			text-align: center;
			color: $aqua;
			@include drm-em-font(16);
		}

		li {			
			@include drm-em-font(14);
		}

		a {
			color: white;

			&:visited {
				color: $aqua;
			}
		}
	}
}

.copyright {
	clear: both;
	display: block;
	text-align: center;
	color: white;
	background-color: $dark-grey;
	padding: 10px 50px 10px 50px;

	a {
		color: $aqua;
	}
}