/*-----------------------------------------------------------------------------
	Footer
-----------------------------------------------------------------------------*/

footer {
	width: 100%;
	padding: 1% 5% 1% 5%;
	@include drm-clearfix();
	@include box-sizing(border-box);

	.widget {
		@include drm-feature-box(5);
	}
}

.copyright {
	clear: both;
	display: block;
	text-align: center;
	padding: 10px 50px 10px 50px;
}