/*-----------------------------------------------------------------------------
	Forms
-----------------------------------------------------------------------------*/

/* Removes fieldset borders. even on Opera 7 */
fieldset {
  border: 1px solid transparent;
}

/* form input */
input, textarea, select, input[type=search], button {
	font-size: 100%;
	font-family: inherit;
}

input[type=text], input[type=password], input[type=email], input[type=tel], textarea, input[type=search] {
	padding: 6px 10px;
	box-sizing: border-box;
	border-radius: 3px;
	appearance: none;
	@include drm-form-state($aqua, $off-white, $grey);
	@include drm-em-font(12);
}

input[type=search] {
	height: 30px;
	@include border-radius(15px);
}

/* text area */
textarea {
	line-height: 150%;
}

/* form button */
input[type=reset], input[type=submit], button {
	@include drm-button-solid($main-text, white, 40%, left, 0, $main-text);
}

small {
	margin: 0;
	display: block;

	@include drm-breakpoint(saturn) {
		text-align: center;
	}
}

.hidden-field {
	display: none;
}