/*-----------------------------------------------------------------------------
	Forms
-----------------------------------------------------------------------------*/

/* Removes fieldset borders. even on Opera 7 */
fieldset {
  border: 1px solid transparent;
}

/* form input */
input, textarea, select, input[type=search], button {
	font-size: 100%;
	font-family: inherit;
}

input[type=text], input[type=password], input[type=email], input[type=tel], textarea, input[type=search] {
	padding: 6px 10px;
	@include border-radius(5px);
	@include appearance(none);
}

input[type=text], input[type=email], input[type=tel], input[type=search] {
	width: 240px;
	max-width: 90%;
}

/* text area */
textarea {
	line-height: 150%;
	width: 94%;
}

/* form button */
input[type=reset], input[type=submit], button {
	border: none;
	padding: 7px 20px;
	cursor: pointer;
	@include border-radius(5px);
}

input[type=search] {
	height: 30px;
	@include border-radius(15px);
	@include box-sizing(border-box);
	@include drm-form-state($aqua, $off-white, $grey);
}