// scss-lint:disable NestingDepth
// Front

.cpt-content {
    padding: 0;
    margin: 0;
    width: 100%;
}

.section-heading {
    @include elr-em-font(36px);
}

.front-post-box {
    padding: 40px;

    h1 {
        @include elr-em-font(16px);
        font-weight: bold;
        height: 60px;
        overflow: hidden;
        margin-bottom: 10px;

        a {
            text-decoration: none;
        }
    }

    p {
        @include elr-em-font(14px);
        height: 115px;
        overflow: hidden;
        margin-bottom: 10px;
    }
}

.front-post-actions a {
    color: $white;
}

.front-project-box {
    p {
        display: none;
    }
}

.front-section {
    @include elr-clearfix;
    background-color: $main-text;
    color: $white;
    border-bottom: 1px solid $white;
    padding-top: 30px;
    padding-bottom: 30px;

    figure {
        height: 200px;
        margin-bottom: 10px;
    }

    h1 a {
        color: $white;
    }

    .button-link {
        @include elr-em-font(14px);
        text-decoration: none;
        margin: 10px 0;
        padding: 10px 20px;
        border-radius: 3px;
        display: inline-block;
        width: 70%;
        border: 1px solid $white;
        color: $main-text;
        background-color: $white;

        &:hover {
            background-color: $main-text;
            color: $white;
        }
    }

    &:nth-child(odd) {
        color: $main-text;
        border-top: 1px solid $main-text;
        background-color: $white;

        h1 a {
            color: $main-text;
        }

        .front-post-actions a {
            color: $main-text;
        }

        .button-link {
            background-color: $white;
            color: $main-text;
            border: 1px solid $main-text;

            &:hover {
                background-color: $main-text;
                color: $white;
            }
        }

        .testimonial-slider-list {
            button {
                background-color: $main-text;

                &.active {
                    background-color: $aqua;
                }
            }
        }

        .testimonial-slider-nav {
            button {
                background-color: $main-text;
                color: $white;

                &:hover {
                    background-color: $aqua;
                    color: $white;
                }
            }
        }
    }
}
