// Front Testimonials

.testimonial-slider {
    position: relative;
}

.testimonial-slide {
    text-align: center;
    padding-top: 40px;
    position: relative;
    height: 100%;
    display: none;

    &:first-of-type {
        display: block;
    }
}

.testimonial-image-holder {
    @include elr-circle(100px);
    margin: 0 auto 40px;
    overflow: hidden;

    img {
        min-height: 100px;
    }
}

.testimonial-slider-nav {
    @include elr-clearfix;
    @include elr-centerer(true, false);
    width: 100%;

    button {
        color: $main-text;

        // &:hover {
        //     color: $white;
        // }
    }

    .prev,
    .next {
        @include elr-circle(75px);
        border: 0;
    }

    .prev {
        float: left;
    }

    .next {
        float: right;
    }
}

.testimonial-slider-list,
.testimonial-slider-nav {
    button {
        background-color: $white;

        &.active {
            background-color: $aqua;
        }
    }
}

.testimonial-slider-list {
    list-style: none;
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    bottom: 0;

    li {
        padding: 0;
        margin: 0;
        display: inline-block;
    }

    button {
        @include elr-circle(10px);
        padding: 0;
        margin: 0 2px;
        border: 0;
    }
}

.testimonial-slide-holder {
    width: 80%;
    margin: auto;
    position: relative;
    height: 500px;
}
