/*-----------------------------------------------------------------------------
	Header
-----------------------------------------------------------------------------*/

header {
	@extend %drm-container-full-width;
	padding-top: 1%;
	padding-bottom: 5%;
	@include drm-clearfix();
	@include box-sizing(border-box);
}

.logo {
	float: left;
	width: 40%;
	padding-top: 1%;
}

.site-name {
	@extend %drm-reset-box;
	font-weight: normal;
	text-align: left;
	@include drm-em-font(28);

	a {
		@extend %drm-reset-box;
		text-decoration: none;

		&:hover {	
			text-decoration: underline;
		}
	}
}	

.site-description {
	@extend %drm-reset-box;
	text-align: left;
	@include drm-em-font(16);
}

.navigation-holder {
	float: right;
	width: 60%;
}

.main-nav {
	@extend %drm-reset-box;
	float: right;
	clear: both;
	@include box-sizing(border-box);
	@include drm-inline-list;

	li {
		padding: 0 10px 0 0;

		&:last-child {
			padding-right: 0;
		}
	}

	a {
		text-decoration: none;
		@include drm-em-font(14);

		&:hover {
			text-decoration: underline;
		}
	}	
}