// Header

.main-header {
    @include elr-clearfix;
    padding: 20px;

    .social-media-section {
        text-align: right;
    }
}

.site-name {
    @include elr-em-font(28px);
    margin: 0;
    padding: 20px 0;
    font-weight: 700;
    text-align: left;

    @include elr-breakpoint('saturn') {
        text-align: center;
    }

    a {
        margin: 0;
        padding: 0;
        text-decoration: none;
    }
}

.site-description {
    @include elr-em-font(16px);
    margin: 0;
    padding: 0;
    text-align: left;

    @include elr-breakpoint('saturn') {
        text-align: center;
    }
}

.main-nav {
    margin: 0;
    padding: 0;

    li {
        padding: 0 10px 0 0;

        &:last-child {
            padding-right: 0;
        }
    }

    a {
        @include elr-em-font(14px);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
