/*-----------------------------------------------------------------------------
	Header
-----------------------------------------------------------------------------*/

.branding {
	@extend %drm-container-full-width;
	padding-top: 20px;
	padding-bottom: 40px;
	box-sizing: border-box;
	@include drm-clearfix();

	@include drm-breakpoint(mars) {
		padding-left: 5%;
		padding-right: 5%;
	}

	@include drm-breakpoint(jupiter) {
		padding-left: 1%;
		padding-right: 1%;
	}
}

.logo {
	float: left;
	width: 40%;
	padding-top: 1%;

	@include drm-breakpoint(saturn) {
		float: none;	
		width: 100%;
		padding: 1%;
		box-sizing: border-box;
	}
}

.site-name {
	margin: 0;
	padding: 0;
	font-weight: normal;
	text-align: left;
	@include drm-em-font(28);

	@include drm-breakpoint(saturn) {
		text-align: center;
	}

	a {
		margin: 0;
		padding: 0;
		text-decoration: none;

		&:hover {	
			text-decoration: underline;
		}
	}
}	

.site-description {
	margin: 0;
	padding: 0;
	text-align: left;
	@include drm-em-font(16);

	@include drm-breakpoint(saturn) {
		text-align: center;
	}
}

.navigation-holder {
	float: right;
	width: 60%;

	@include drm-breakpoint(saturn) {
		float: none;	
		width: 100%;
		padding: 1%;
		box-sizing: border-box;
	}
}

.main-nav {
	margin: 0;
	padding: 0;
	float: right;
	clear: both;
	box-sizing: border-box;
	@include drm-inline-list;

	@include drm-breakpoint(saturn) {
		float: none;
		text-align: center;
		box-sizing: border-box;
	}

	li {
		padding: 0 10px 0 0;

		&:last-child {
			padding-right: 0;
		}
	}

	a {
		text-decoration: none;
		@include drm-em-font(14);

		&:hover {
			text-decoration: underline;
		}
	}
}