// Main Content

.main-content {
    @include elr-clearfix;
    padding-top: 20px;
    padding-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

.expertise {
    h3,
    p {
        text-align: center;
    }
}

.more-link,
.hide-link {
    width: 100%;
}

.content-holder {
    padding-right: 40px;

    h1,
    h2,
    h3 {
        font-weight: bold;
    }

    img {
        max-width: 100%;
        margin: 2% auto;
        display: block;
    }

    li {
        h1,
        h2,
        h3,
        h4,
        p {
            margin: 0;
            padding: 0;
        }
    }

    pre {
        margin: 20px auto;
    }
}
