/*-----------------------------------------------------------------------------
	Main Content
-----------------------------------------------------------------------------*/

.main-content {
	width: 100%;
	padding: 0 5% 0 5%;
	@include box-sizing(border-box);
	@include drm-clearfix();
}

article {
	float: left;
	width: 65%;
	padding: 1% 1% 1% 0;
	@include box-sizing(border-box);

	img {
		width: 60%;
		margin: 2% 20% 2% 20%;
		border: 1px solid $light-grey;
		@include box-sizing(border-box);
	}
}

.post {
	margin-bottom: 50px;
}

.post-date {
	font-size: 1em;
}

.post-content {
	min-width: 120px;
}

/* post image */
.post-image {
	margin: 0 0 5px;
	@include box-sizing(border-box);

	.left {
		float: left;
		margin: 10px 15px 10px 10px;
	}

	.right {
		float: right;
		margin: 10px 10px 10px 15px;
	}	
}

/* post meta */
.post-meta {
	margin: 0 0 7px;
	font-size: 1em;
	text-transform: capitalize;

	.post-author {
		@include drm-post-meta(image-url('post-author.png'));
	}

	.post-category {
		@include drm-post-meta(image-url('post-category.png'));
	}

	.post-tag {
		@include drm-post-meta(image-url('post-tag.png'));
	}

	.post-comment a {
		@include drm-post-meta(image-url('post-comment.png'));
	}
}

p.wp-caption-text {
	margin-bottom: 20px;	
}

.wp-caption alignleft {
	float: left;
	margin: 10px 15px 10px 10px;
}	

/************************************************************************************
WORDPRESS POST FORMATTING
*************************************************************************************/

.alignnone {
	margin-bottom: 15px;
}

.alignleft {
	margin-bottom: 15px;
	float: left;
	margin-right: 30px;
}

.alignright {
	margin-bottom: 15px;
	float: right;
	margin-left: 30px;
}

.aligncenter {
	margin-bottom: 15px;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption {
	text-align: center;
	margin-bottom: 15px;
	max-width: 100%;
	@include box-sizing(border-box);
}

.wp-caption-text {
	font-style: italic;
	font-size: (12em / 16);
	line-height: 120%;
	margin: 6px 0;
}

/************************************************************************************
PAGE NAVIGATION
*************************************************************************************/
.pagenav {
	clear: both;
	padding-bottom: 20px;
	text-align: right;

	a, span {
		line-height: 100%;
		padding: 6px 0 0;
		vertical-align: middle;
		display: inline-block;
		zoom: 1;
		min-width: 24px;
		min-height: 18px;
		text-align: center;
		@include border-radius(10em);
		@include box-sizing(border-box);
	}

	a {
		text-decoration: none;
	}

	.current {
		text-decoration: none;
	}
}

/************************************************************************************
POST NAVIGATION
*************************************************************************************/

.post-nav {
	margin: 0 0 30px;
	padding: 15px 0;
	clear: both;

	span {
		width: 47%;
		position: relative;
		@include box-sizing(border-box);

		.arrow {
			display: block;
			float: left;
			width: 32px;
			height: 28px;
			padding: 6px 0 0;
			text-align: center;
			margin: -8px 10px 17px 0;
			@include border-radius(10em);
			@include box-sizing(border-box);
		}
	}

	a {
		text-decoration: none;
		display: block;
		font-family: $sans-serif-font;
		&:hover {
			text-decoration: none;
		}
	}

	.prev {
		float: left;
	}

	.next {
		float: right;
		text-align: right;

		span {
			float: right;
			margin-left: 10px;
			margin-right: 0;

			&:hover span {
				background: $almost-black;
			}
		}
	}
}
