/*-----------------------------------------------------------------------------
	Post Navigation
-----------------------------------------------------------------------------*/

.post-nav {
	margin: 0 0 30px;
	padding: 15px 0;
	clear: both;

	span {
		width: 47%;
		position: relative;
		@include box-sizing(border-box);

		.arrow {
			display: block;
			float: left;
			width: 32px;
			height: 28px;
			padding: 6px 0 0;
			text-align: center;
			margin: -8px 10px 17px 0;
			@include border-radius(10em);
			@include box-sizing(border-box);
		}
	}

	a {
		text-decoration: none;
		display: block;
		font-family: $sans-serif-font;
		&:hover {
			text-decoration: none;
		}
	}

	.prev {
		float: left;
	}

	.next {
		float: right;
		text-align: right;

		span {
			float: right;
			margin-left: 10px;
			margin-right: 0;

			&:hover span {
				background: $almost-black;
			}
		}
	}
}