// Page Navigation
// scss-lint:disable SelectorDepth NestingDepth

.page-nav {
    @include elr-clearfix;
    padding-bottom: 20px;
    text-align: right;
    color: $white;

    @include elr-breakpoint('saturn') {
        text-align: center;
    }

    a,
    span {
        @include elr-circle(30px, inline-block);
        zoom: 1;
        text-align: center;
        margin: 0 0 0 10px;
        line-height: 1.8em;
        color: $main-text;
    }

    a {
        text-decoration: none;
        font-weight: normal;

        &:hover {
            color: $white;
            background-color: $aqua;
        }
    }

    .current {
        text-decoration: none;
        color: $white;
        background: $main-text;
    }
}

// Post Navigation

.post-nav {
    @include elr-clearfix;
    margin: 0 0 30px;
    padding: 15px 0;
    clear: both;

    span {
        width: 47%;
        position: relative;

        span {
            background: $main-text;
            color: $white;
        }

        .arrow {
            @include elr-circle(30px, inline-block);
            text-align: center;
            margin: 0;
        }

        .prev,
        .next {

            .arrow {
                margin: 0 10px;
                line-height: 1.8em;

                @include elr-breakpoint('saturn') {
                    line-height: 1.5em;
                }
            }
        }

        .prev {
            float: left;
        }

        .next {
            float: right;

            .arrow {
                float: right;
            }
        }
    }

    a {
        text-decoration: underline;
        display: block;
        font-weight: normal;
        line-height: 1.9em;
        color: $main-text;
        transition: all, .3s, ease;

        span {
            @include elr-circle(30px, inline-block);
            text-align: center;
            background: $main-text;
        }

        &:hover {
            text-decoration: none;
            color: $aqua;

            span {
                color: $white;
                background: $aqua;
            }
        }
    }
}
