/*-----------------------------------------------------------------------------
	Sidebar
-----------------------------------------------------------------------------*/

.sidebar {
	padding: 1% 0 1% 5%;
	float: right;
	width: 35%;
	@include box-sizing(border-box);

	.widget {
		padding: 0 0 20px 0;
		@include box-sizing(border-box);

		.widget-title {
			margin-bottom: 10px;
			@include drm-em-font(16);
			@include drm-pill-heading($aqua, white);
		}

		ul {
			@include drm-unstyled-list(left);		
		}

		li {
			padding-left: 10px;
			padding-right: 10px;
			@include drm-em-font(14);
		}

		&:last-child {
			padding: 0;
		}
	}

	.searchform {
		width: 80%;
		margin: 0 auto 0 auto;
		
		input[type=search] {
			width: 100%;		
		}
	}
}