// Sidebar

.sidebar {
    padding-left: 20px;

    .widget {
        padding: 0 0 20px;

        .widget-title {
            @include elr-em-font(16px);
            @include elr-pill-heading($main-text, $white);
            margin-bottom: 10px;
        }

        li {
            @include elr-em-font(14px);
            padding-left: 10px;
            padding-right: 10px;
            list-style: none;
        }

        &:last-child {
            padding: 0;
        }
    }

    .searchform {
        width: 80%;
        margin: 0 auto;

        [type=search] {
            width: 100%;
        }
    }
}
