// Social Media

.social-media-section {
    @include elr-clearfix;
    margin: auto;
    margin-top: 10px;
    padding: 0;
    list-style: none;
    text-align: center;

    @include elr-breakpoint('saturn') {
        width: 100%;
        margin: 20px auto;
    }

    li {
        width: 32px;
        margin: 5px;
        padding: 0;
        display: inline-block;
    }

    a {
        display: inline-block;

        &:hover {
            opacity: .7;
        }
    }
}
