// Widgets
// scss-lint:disable ImportantRule

.widget {
    word-wrap: break-word;

    ul {
        margin: 0;
        padding: 0;
    }

    iframe {
        width: 100% !important;
    }
}

.widget-title {
    @include elr-em-font(18px);
    font-weight: bold;
}

.elr-recent-posts-widget {

    .post-date {
        @include elr-em-font(12px);
        display: block;
        color: $grey;
    }
}
