/*-----------------------------------------------------------------------------
	Widgets
-----------------------------------------------------------------------------*/

.widget {
	word-wrap: break-word;
	text-transform: capitalize;

	ul {
		@extend %drm-reset-box;
	}

    iframe {
        width:100% !important;
    }
}

.widget-title {
	font-weight: bold;
	@include drm-em-font(18);
}

.elr-recent-posts-widget {
    li {
        @include drm-clearfix;
    }

    figure {
        box-sizing: border-box;
        float: left;
        width: 20%;
        margin: 0;
        padding: 0;
    }

    p {
        box-sizing: border-box;
        width: 80%;
        float: left;
        margin: 0;
        padding: 0 0 0 20px;
    }

    .post-date {
        display: block;
        color: $grey;
        @include drm-em-font(12);
    }
}