/*-----------------------------------------------------------------------------
	Widgets
-----------------------------------------------------------------------------*/

.widget {
	word-wrap: break-word;
	text-transform: capitalize;

	ul {
		@extend %drm-reset-box;
	}
}

.widget-title {
	font-weight: bold;
	@include drm-em-font(18);
}

.elr-recent-posts-widget {
    p {
        margin: 0;
        padding: 0;
    }
}