/*-----------------------------------------------------------------------------
	Variables
-----------------------------------------------------------------------------*/

// screen sizes

$trenta: 1300px;
$venti: 1300px;
$grande: 1100px;
$tall: 850px;
$short: 750px;
$espresso: 550px;
$bean: 370px;

// font faces

$serif-font: Georgia, 'Times New Roman', serif;
$sans-serif-font: 'Open Sans', Helvetica, Arial, sans-serif;

// typography

$font-family: $sans-serif-font;
$default-font-size: 16;
$default-line-height: 1.5;

// colors

// add more colors below

$almost-black: #111;
$dark-grey: #333;
$darker-grey: #666666;
$grey: #999;
$light-grey: #ccc;
$lighter-grey: #ddd;
$lightest-grey: #eee;
$off-white: #e2e2e2;
$almost-white: #f1f1f1;

$drm-blue: #00b3bb;
$drm-blue-light: #89D6DA;
$dark-aqua: #096367;
$dark-pink: #ed145b;

// font colors

$danger-color: #f7322f; // red
$warning-color: #D1CB34; // yellow
$success-color: #7aba7b; // green
$info-color: #1DAAF0; // blue
$muted-color: $light-grey;

// color scheme

$text-color: $dark-grey;
$link-color: $drm-blue;
$hover-color: #89D6DA;
$background-color: white;
$main-color: $drm-blue;
$accent-color: $dark-pink;
$shadow-color: $off-white;