/*-----------------------------------------------------------------------------
	Forms
-----------------------------------------------------------------------------*/

@mixin drm-form-state($glow: #00b3bb, $background: #e2e2e2, $border: #999) {
	background-color: $background;
	border: solid 1px $border;
	@include transition(border .5s ease-out, box-shadow .5s ease-out);

	&:hover {
		border: 1px solid $glow;
		@include box-shadow(0 0 2px $glow);
		@include transition(border .5s ease-in, box-shadow .5s ease-in);
	}

	&:focus {
		outline: none;
		border: 1px solid darken($border, 20%);
		background-color: lighten($background, 20%);
		@include transition(border .5s ease-in, background .5s ease-in);
	}
}