/*-----------------------------------------------------------------------------
    Grids
-----------------------------------------------------------------------------*/

@mixin drm-flexible-grid($images-per-row: 4, $flex: true, $grid-width: 1040px, $fixed-height: 'no') {
    background-color: white;
    position: relative;
    padding: 0;

    @if $flex == true {
        width: 100%;
    } @else if $flex == false {
        width: $grid-width + (10 * $images-per-row);
    }
    
    @include drm-clearfix;

    .drm-grid-item {
        @if $flex == true {
            margin: 10px .5% 10px .5%;
            width: (100% / $images-per-row) - 1;
        } @else if $flex == false {
            margin: 10px 5px 10px 5px;
            width: $grid-width / $images-per-row;
        }
        
        padding: 0;
        list-style: none;
        background-color: white;
        border: 1px solid $light-grey;
        box-sizing: border-box;
        float: left;
        border-radius: 5px;
        color: $dark-grey;
        box-shadow: $lightest-grey 1px 1px 1px;
        position: relative;

        img {
            margin: 0;
            width: 100%;
            border-radius: 5px 5px 0 0;

            @if $fixed-height != 'no' {
                height: $fixed-height;
            }
        }
    }

    .curtain {
        width: 100%;
        z-index: 100;
        border-radius: 5px 5px 0 0;
        position: absolute;
        cursor: pointer;
        @include drm-background-transparent(white, .9);        
    }

    .caption {
        padding: 10px;

        h1 {
            color: $drm-blue;
            margin: 0;
            padding: 0;
            @include drm-em-font(16);
        }

        h2 {
            margin: 0;
            padding: 0;
            @include drm-em-font(14);            
        }

        p {
            margin: 0;
            padding: 0;
            @include drm-em-font(14);
        }

        ul {
            margin: 0;
            padding: 0;
            @include drm-clearfix;
        }

        li {
            margin: 5px 0 5px 0;
            padding: 2px 10px 2px 10px;
            color: white;
            background-color: $drm-blue;
            border-radius: 3px;
            list-style: none;
            display: inline-block;
        }
    }
}